User Menu
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="user/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="user/blog">Blog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="user/course">Course</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="user/contact" tabindex="-1">Contact</a>
  </li>
</ul>
Admin Menu
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" routerLink="admin/blog">Blog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="admin/course">Course</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" routerLink="post">Posts</a>
  </li>
</ul>
<router-outlet></router-outlet>

<br>
****************API Post List*********************
<br>

<!-- <h3>Post List</h3>
<table class="table table-bordered" >
  <thead><tr>
    <th>Id</th>
    <th>Title</th>
    <th>Body</th>
  </tr></thead>
  <tbody>
    <tr *ngFor="let post of allPost">
      <td>{{post.id}}</td>
      <td>{{post.title}}</td>
      <td>{{post.body}}</td>
    </tr>
  </tbody>
</table> -->

<br>
****************Reactive Form*********************
<br>

<form [formGroup]="loginForm" (ngSubmit)="getData()">
  <input type="email" name="email" placeholder="Please enter email" formControlName="email"/>
  <br>
  <span *ngIf="validationMessage['email'].invalid && validationMessage['email'].touched">Please provide email</span>
  <br>
  <input type="password" name="password" placeholder="Please enter password" formControlName="password"/>
  <br>
  <span *ngIf="validationMessage['password'].invalid && validationMessage['email'].touched">Please provide password</span>
  <br>
  <button type="submit">Submit</button>
</form>

<br>
****************Template Driven Form*********************
<br>

<form #loginForm = "ngForm" (ngSubmit)="getDrivenData(loginForm.value)">
  <input type="email" name="email" placeholder="Please enter email"/>
  <input type="password" name="password" placeholder="Please enter password"/>
  <button type="submit">Submit</button>
</form>